{
  "plugins": [
      ["transform-class-properties", "transform-runtime",
      {
          "polyfill": false,
          "regenerator": true
      }]
  ],
  "presets": ["es2017", "env", "react", "stage-3"]
}
